/* General navbar styling */
.navbar {
  background-color: transparent;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 50;
}



/* Hide the menu by default on mobile */
.nav-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid #fff;
  z-index: 10;
}

.nav-menu.active {
  display: flex;
}

/* Menu items styling */
.nav-item {
  margin: 20px 0;
  text-align: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f39c12;
}

/* Hamburger Menu Icon Styling */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* When the menu is open, transform the bars into an "X" */
.menu-icon.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Buttons */
.nav-button {
  background: none;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav-button:hover {
  background-color: white;
  color: black;
}

.register-button {
  background-color: white;
  color: black;
}

.register-button:hover {
  background-color: #f39c12;
  color: white;
}

/* Desktop menu styles */
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
  }

  .nav-item {
    margin: 0 20px;
  }

  .dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    width: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .dropdown-menu div {
    margin: 5px 0;
  }

  .nav-button {
    margin: 0 10px;
  }
}